<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <script type="text/javascript">
    const ROOM_ID = " <%= roomId %>";
  </script>
  <title>Video Call</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto+Slab:wght@200&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
</head>

<body onload = "getUserName()">
  <div class="main">
    <div class="main_left">
      <div class="main_videos">
        <div id="video-grid">

        </div>
      </div>
  <div class="floating-nav-bar">
    <div class="main_controls">
      <div class="main_controls_block">
        <div class="main_controls_button main_mute_button" onclick="muteUnmute()">
        <i class="fas fa-microphone"></i>
        <span>Mute</span>
        </div>
        <div class="main_controls_button main_video_button" onclick="playStop()">
          <i class="fas fa-video"></i>
          <span>Stop Video</span>
        </div>
      </div>
      <div class="main_controls_block">
        <div class="main_controls_button" onclick = "copy()">
               <i class="fas fa-share"></i>
              <span>Share Id</span>
        </div>
        <div class="main_controls_button" onclick="chatWindow()">
          <i class="fas fa-comment-alt"></i>
          <span>Chat</span>
        </div>
      </div>
      <div class="main_controls_block">
          <a href="/"><span class="leave_meeting">Leave Call</span></a>
      </div>
    </div>
  </div>
    </div>
    <div class="main_right">
      <div class="main_header">
        <h6>
          Chat
        </h6>
      </div>
      <div class="main_chat_window">
        <ul class="messages">

        </ul>

      </div>
      <div class="main_message_container">
        <input id="chat_message" type="text" placeholder="Type message here...">
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js" charset="utf-8"></script>
  <script src="/script.js"></script>

</body>

</html>
