body{
  text-align: center;
  margin: 0;
  padding: 0;
  font-family:  'Roboto Slab', serif;
}
#video-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

video {
  height: 300px;
  width: 400px;
  object-fit: cover;
  padding: 5px;
}
.main{
  transition: margin-left .5s;
  height: 100vh;
  display: flex;
}
.main_left{
  flex: 1;
  display: flex;
    background-color:#37293B;
  flex-direction: column;
}
.main_right{
  flex: 0.2;
}
.main_videos {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.main_controls{
  display: flex;
  background-color: #1C1C20;
   color: #A685E2;
/* justify-content: space-between; */
justify-content:center;
text-align: center;
  font-family:  'Roboto Slab', serif;
  width:40%;
  position: relative;
  left: 25rem;
  border-radius: 20px;
}

.main_controls_block{
  display: flex;
}

.main_controls_button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  min-width: 80px;
  cursor: pointer;
}

.main_controls_button i{
  font-size: 24px;
}
.main_controls_button:hover{
  background-color: #5F4C64;
  border-radius: 5px;
}
.leave_meeting{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 2px 0px 5px;
  cursor: pointer;
  color: #FB3640;
}
.main_right{
  display: flex;
  flex-direction: column;
  background-color: #242324;
  border-left: 1px solid #3D3D42;
}
.main_header{
  color: #F5F5F5;
  text-align: center;
  text-decoration: solid;
}
.main_chat_window{
  flex-grow: 1;
  overflow-y:auto;
}
.messages{
  color: white;
  list-style:none;
}
.message{
  text-align: left;
  padding: 1px;
}
.main_message_container{
  padding: 22px 12px;
  display: flex;
}
.main_message_container input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: #FFF5FD;
}

#copy-button{
  display: flex;
  flex-direction: column;
  background-color: transparent;
  color: #A685E2;
  font-family:  'Roboto Slab', serif;
  border: none;
}

#copy-button:hover{
  background-color: #5F4C64;
}

.unmute, .stop {
  color: #CC3B33;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.floating-nav-bar{
  position: sticky;
  bottom: 1rem;
  text-align: center;
  justify-content: center;
}
span{
  color: #FFF5FD;
}
