body{
  text-align: center;
  margin: 0;
  padding: 0;
  font-family:  'Roboto Slab', serif;
}
#video-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

video {
  height: 300px;
  width: 400px;
  object-fit: cover;
  padding: 5px;
}
.main{
  transition: margin-left .5s;
  height: 100vh;
  display: flex;
}
.main_left{
  flex: 1;
  display: flex;
    background-color:#232323;
  flex-direction: column;
}
.main_videos {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.main_controls{
  display: flex;
  background-color: #133B5C;
  text-shadow: 2px;
  opacity: 0.6;
   color: #F4F9F9;
/* justify-content: space-between; */
justify-content:space-between;
text-align: center;
  font-family:  'Roboto Slab', serif;
  width:50%;
  position: relative;
  left: 20rem;
  border-radius: 20px;
}

.main_controls_block{
  display: flex;
}

.main_controls_button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 5px 6px 6px;
  min-width: 80px;
  cursor: pointer;
  margin-left: 2px;
  margin-right: 2px;
}

.main_controls_button i{
  margin-top: 3px 3px 0px 0px;
  font-size: 15px;
}
.main_controls_button:hover{
  background-color: #444444;
  border-radius: 5px;
}
.leave_meeting{
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 5px 2px;
  cursor: pointer;
  color: #FB3640;
  margin-right: 20px;
}
.main_right{
  display: flex;
  flex:0.2;
  flex-direction: column;
  background-color: #444444;
  border-left: 1px solid #3D3D42;
}
.main_header{
  color: #F5F5F5;
  text-align: center;
  text-decoration: solid;
}
.main_chat_window{
  flex-grow: 1;
  overflow-y:auto;
}
.messages{
  color: white;
  list-style:none;
}
.message{
  text-align: left;
  padding: 1px;
}
.main_message_container{
  padding: 22px 12px;
  display: flex;
  background-color: #343A40
}
.main_message_container input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: #FFF5FD;
}

#copy-button{
  display: flex;
  flex-direction: column;
  background-color: transparent;
  color: #F4F9F9;
  font-family:  'Roboto Slab', serif;
  border: none;
}

#copy-button:hover{
  background-color: #444444;
}

.unmute, .stop {
  color: #CC3B33;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.floating-nav-bar{
  position: sticky;
  bottom: 1rem;
  text-align: center;
  justify-content: center;
}
span{
  color: #FFF5FD;
}
